.main-container{
    margin-top: 50px;
    width: 80%;
    margin: 0 auto;
}

.table {
	width:100%;
	border:1px solid black;
}

.table-header {
	display:flex;
	width:100%;
	background:#000;
}

.table-row {
	display:flex;
	width:100%;
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
  /*  text-transform:uppercase;
    color: white; 
*/
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #333333;
}