<div>
  
  <main>
    <div class="intro">
      <h1>BE OWN YOUR BOSS</h1>
      <p>a business organization that makes money by selling goods or services. </p>
      <button><a href = "/registration">New registration</a></button>
      <p>Already have an account? <a href="#">Log in</a></p>
      
    </div>
    <div class="achievements">
      <div class="work">
        
        
        <p class="work-heading">Projects</p>
       <p class="work-text">Project business is the management and governance of project processes from beginning to end. Project business management brings together the operational and financial components of running projects into one discipline.</p>
      </div>
      <div class="work">
       
       <p class="work-heading">Skills</p>
        <p class="work-text"> the ability to carry out a business task effectively with determined performance and results within a given time, material, money, managing power or other kinds of resources.</p>
      </div>
    
  
      
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>About US</h2>
        <p>A company, abbreviated as co., is a legal entity representing an association of people, whether natural, legal or a mixture of both, with a specific objective. Company members share a common purpose and unite to achieve specific, declared goals.</p>
      </div>
      <img src="https://onecms-res.cloudinary.com/image/upload/s--Md_rGjBr--/f_auto,q_auto/v1/mediacorp/cna/image/2022/02/09/shutterstock_1168719754_0.jpg?itok=27RXJ8zA" alt="UPP">
    </div>
  </main>
  
  <footer class="footer">
    <div class="copy">&copy; 2023 SALEFORCE</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
      
    </div>
  </footer>
  </div>